  body {
    margin: 0;
  }
  a {
      color:black;
      text-decoration:none; /*밑줄없다 반대는 underline */
    }
  #headerbar h1 {
    font-size:20px;
    text-align:left;
/*        border-bottom:1px solid gray;*/
    margin:0;
    padding-left:8px; padding-top: 20px; padding-bottom: 8px;
  }
  #menubar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #menubar div {
    background-color: lightgray;
    border: 1px solid gray;
    margin:0px;
    padding:8px;
    text-align:center;
    text-shadow: 1px 1px pink;
    font-size: 15px;
    height: 15px;

  }
  @media(max-width:800px){
    #menubar{
      display: block;
    }
  }
